@charset "UTF-8";

 
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


body{ background-image: linear-gradient(to right,#038C3E, #0CF25D);
    

}
main{

    background-color: white;
    width: 50%;
    padding:0 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #02735E;
display: inline-block;
box-sizing: border-box;
vertical-align: top;

}
h1{
    color:#034159;
    text-align: center;
    text-shadow: 1px 1px 2px #022330;

}
h2{
    color: #025951;
}
   
p{
    text-align: justify;

}
div{
    
    background-color: white;
    width: 600px;
    padding:0 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #02735E;
width: 50%;
box-sizing: border-box;
vertical-align: top;

}
h1{
    color:#034159;
    text-align: center;
    text-shadow: 1px 1px 2px #022330;

}
h2{
    color: #025951;
 
}
p{
    text-align: justify;
}

